{% extends "bas.html" %}

{% load static %}
{% load crispy_forms_tags %}
{% block content %}
    <br><br>
    <font color="white" > <h2 class="text-center">Changer Mot de passe</h2>  </font>
    <hr>
    <font color="white" >
    <div class="col-md-6 offset-md-3">
        <form method="POST" action="{% url 'app_principal:password_change' %}">
        
            {% if form.errors %} 
                <div class="alert alert-danger" role="alert">
                    <button type = "button" class="close" data-dismiss = "alert">x</button>
                    <p>Problem ! try again  </p>
                </div>
            {% endif %}
            {{ form|crispy}}
            <input type="submit" value="Changer " class="btn btn-secondary">
        </form>
    </font>
    </div>

     <!-- js placed at the end of the document so the pages load faster -->
     <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
     <script src="{%  static 'lib/bootstrap/js/bootstrap.min.js '%}"></script>
     <!--BACKSTRETCH-->
     <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
     <script type="text/javascript" src="{% static 'lib/jquery.backstretch.min.js'%}"></script>
     <script>
       $.backstretch("{% static 'img/login-bg.jpg' %}", {
         speed: 500
       });
     </script>   
 
  
{% endblock %}