
	{% extends "bas.html" %}

	{% load static %}
	 
	{% block content %}

		<div class="alert alert-info">
		 
            Envoie avec succéss!
			Consultez votre email.
		</div>
	<!-- js placed at the end of the document so the pages load faster -->
	<script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
	<script src="{%  static 'lib/bootstrap/js/bootstrap.min.js '%}"></script>
	<!--BACKSTRETCH-->
	<!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
	<script type="text/javascript" src="{% static 'lib/jquery.backstretch.min.js'%}"></script>
	<script>
	  $.backstretch("{% static 'img/login-bg.jpg' %}", {
		speed: 500
	  });
	</script>
	{% endblock %}
