
{% extends "bas.html" %}

{% load static %}

{% block content %}
    <br><br>
    <h2 class="text-center" >  <p align="right"><font color="white" align="left"> Recuperer votre mot de passe </font> </h2> </p>
    <hr>
    <center>
    <div class="col-md-6 offset-md-3">
        <form method="POST" action="{% url 'password_reset' %}">
     
            {% csrf_token %}
            {% if form.errors %}
                <div class="alert alert-danger" role="alert">
                    <button type = "button" class="close" data-dismiss = "alert">x</button>
                    <p>Problem ! try again  </p>
                </div>
            {% endif %}
            <input type="email" class="form-control" name="email" placeholder="email" >
            
            <input type="submit" value="Envoiyer" class="btn btn-secondary" >
          </center>
        </form>
    </div>

     <!-- js placed at the end of the document so the pages load faster -->
  <script src="{% static 'lib/jquery/jquery.min.js' %}"></script>
  <script src="{%  static 'lib/bootstrap/js/bootstrap.min.js '%}"></script>
  <!--BACKSTRETCH-->
  <!-- You can use an image of whatever size. This script will stretch to fit in any screen size.-->
  <script type="text/javascript" src="{% static 'lib/jquery.backstretch.min.js'%}"></script>
  <script>
    $.backstretch("{% static 'img/login-bg.jpg' %}", {
      speed: 500
    });
  </script>
{% endblock %}