<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="accul.css">
  <title>My Website</title>
</head>

<body>
  <!-- Header -->
  <section id="header">
    <div class="header container">
      <div class="nav-bar">
        <div class="brand">
          <a href="">
            <h1><span>S</span>T </span>A<span> </h1>
          </a>
        </div>
        <div class="nav-list">
          <div class="hamburger">
            <div class="bar"></div>
          </div>
          <ul>
            <h2>
            <li><a href="#hero" data-after="Accuel">Accueil</a></li>
            <li><a href="#services" data-after="Service"> Nos Services</a></li>
            <li><a href="#projects" data-after="Projects">Se Connecter</a></li>
          </h2>
          </ul>
        </div>
      </div>
    </div>
  </section>
  <!-- End Header -->


  <!-- Hero Section  -->
  <section id="hero">
    <div class="hero container">
      <div>
        <h1>Hello, <span></span></h1>
        <h1>In Your  <span></span></h1>
        <h1>App <span></span></h1>
        <a href="#projects" type="button" class="cta">Savoir plus</a>
      </div>
    </div>
  </section>
  <!-- End Hero Section  -->

  
  <script src="./accc.js"></script>
</body>

</html>