
{% extends "base.html" %} 
{% load static %}
        {% block title %}{{ operation }}{% endblock %}
  {% block content %}
<div class="wrapper">
  
  

  <h3><i class="fa fa-angle-right"></i> {{ operation }} {{ objet }}</h3>
  {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">  <!-- singular -->
            <a class="close" data-dismiss="alert"></a>
            {{ message }}
        </div>
    {% endfor %}
  {% endif %}
  <div class="row mt">
    <div class="col-lg-12">
        <div class="form-panel">
          <div class="form">
            <form method="post" class="cmxform form-horizontal style-form" >
                {% csrf_token %}

                
                {% for field in form %}
                  <div class="form-group" style="display:flex;flex-direction: row;" >
                    <div class="control-label col-lg-2" style="margin-left: 40px;">
                    {{ field.label_tag }} 
                    </div>
                    <div class="col-lg-7">
                      {{field}} <br>
                      {{ field.help_text }}
                    </div>
                    <br>
                      <strong style="color:red;">{{ field.errors }}</strong>
                  </div>
                {% endfor %}
                
                <div class="form-group">
                  <div class="col-lg-offset-2 col-lg-10">
                    {% if operation == "supression"%}
                    <button class="btn btn-theme" id="" type="button" data-toggle="modal" data-target="#exampleModal">Supprimer</button>
                    {% elif operation == "Ajout"%}
                    <button class="btn btn-theme" id="" type="button" data-toggle="modal" data-target="#exampleModal">Ajouter</button>
                    {% elif operation == "Recherche"%}
                    <button class="btn btn-theme" id="" type="submit" data-toggle="modal" data-target="#exampleModal">Chercher</button>
                  
                    {% else %}
                    <button class="btn btn-theme" id="" type="button" data-toggle="modal" data-target="#exampleModal">Enregistrer</button>
                    {% endif %}

                    {% if choix == "vlan" %}
                    <a href="{% url 'app_principal:vlan' %}" class="btn btn-theme04" type="button">Annuler</a>
                    {% elif choix == "switch" %}
                    <a href="{% url 'app_principal:switch' %}" class="btn btn-theme04" type="button">Annuler</a>
                    {% elif choix == "modele" %}
                    <a href="{% url 'app_principal:modele' %}" class="btn btn-theme04" type="button">Annuler</a>
                    {% elif objet == "mot de passe" %}
                    <a href="{% url 'app_principal:c' %}" class="btn btn-theme04" type="button">Annuler</a>

                    {% endif %}
                  </div>
                </div>
              {% if operation != "Recherche"%}
              <!-- Modal -->
              <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="top:25%;">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">Etes-vous sûr? </h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-center">
                      Voullez vous vraiment effectuer l'operation de {{ operation }}?
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-theme04" data-dismiss="modal">Fermer</button>
                      <button type="submit" class="btn btn-theme" >Proceder</button>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
            </form>
          </div> 

          <p>resultats:</p>
          {% for i, j in list %}
          <p>{{ i }}: {{ j }}</p>
          {% endfor %}

          
        </div>
      </div>
    </div>
  </div>
  {% endblock %}

  {% block js %}
  <script src="{% static 'lib/form-validation-script.js' %}"></script>
  {% endblock %}

