{% extends "base.html" %}
{% load static %}

{% block content %}

    <section id="main-content" style="margin-left: -5px;">
      <section class="wrapper">
        <!-- debut page -->
        <div class="row mt">
          <div class="col-sm-3">
            <section class="panel">
              <div class="panel-body">
                <a href="{% url 'app_principal:ajouter-user' %}" class="btn btn-compose">
                  <i class="fa fa-user-plus"></i> Ajouter un utilisateur
                  </a>
                <ul class="nav nav-pills nav-stacked mail-nav" style="display: flex;flex-direction: column;">
                  <li class="active"><a href="{% url 'app_principal:users' %}"> <i class="fa fa-users"></i> Les utilisateurs  <!--<span class="label label-theme pull-right inbox-notification">3</span>--></a></li>
                  
                  <li><a href="#"> <i class="fa fa-exclamation-circle"></i> Important</a></li>
                  
                  </li>
                  <li><a href="{% url 'app_principal:corbeille' %}"> <i class="fa fa-trash-o"></i> Corbeille</a></li>
                </ul>
              </div>
            </section>
            <section class="panel">
              <div class="panel-body">
                <ul class="nav nav-pills nav-stacked labels-info " style="display:flex;flex-direction: column;">
                  <li>
                    <h4>Super utilisateurs</h4>
                  </li>
                  {% for user in users %}
                  {% if user.is_superuser == True %}
                  <li>
                    <a href="#">
                        <img src="{% static 'img/default-profile-pic.jpg'%}" style="margin-right:7px;" class="img-circle" width="20">{{user.username}}
                        
                      </a>
                  </li>
                  {% endif %}
                  {% endfor %}
                </ul>
                <a href="{% url 'app_principal:create_superuser' %}"> + Ajouter</a>
                
                
                
              </div>
            </section>
          </div>
          <div class="col-sm-9">
            <section class="panel">
              <header class="panel-heading wht-bg">
                <h4 class="gen-case">
                   Les utilisateurs
                    <!-- <form action="#" class="pull-right mail-src-position">
                      <div class="input-append">
                        <input type="text" class="form-control " placeholder="Recherche utilisateur">
                      </div>
                    </form> -->
                  </h4>
              </header>
              <form method="post" >
                {% csrf_token %}
                <div class="panel-body minimal">
                  <div class="mail-option">
                    <div class="chk-all">
                      <div class="pull-left mail-checkbox">
                        <input type="checkbox" onClick="toggle(this)">
                      </div> 
                      <div class="btn-group">
                        <a data-toggle="dropdown" href="#" class="btn mini all">
                          TOUT
                          
                          </a>
                        
                      </div>
                    </div>
                    <div class="btn-group">
                      <a data-original-title="Refresh" data-placement="top" data-toggle="dropdown" href="{% url 'app_principal:users' %}" class="btn mini tooltips">
                        <i class=" fa fa-refresh"></i>
                        </a>
                    </div>
                    
                    <!--<div class="btn-group">
                      <a data-toggle="dropdown" href="#" class="btn mini blue">
                        Droit D'accés
                        <i class="fa fa-angle-down "></i>
                        </a>
                      <ul class="dropdown-menu">
                        <li><a href="#"><i class="fa fa-pencil"></i>  Modification</a></li>
                        <li><a href="#"><i class="fa fa-eraser"></i> Suppression</a></li>
                        <li><a href="#"><i class="fa fa-book "></i> Lecture</a></li>
                          
                      </ul>
                    </div> -->
                      <button class="btn mini blue" style="background:#d9534f;color:black" type="button" data-toggle="modal" data-target="#exampleModal">Desactiver</button>
                      <ul class="unstyled inbox-pagination">
                      <li><span>1-3 parmi 3</span></li>
                      <li>
                        <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
                      </li>
                      <li>
                        <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
                      </li>
                    </ul>
                  </div>
                  <div class="table-inbox-wrap ">
                    <table class="table table-inbox table-hover">
                      <tbody>
                        <tr class=""style="background: #4ECDC4;color:white">
                      
                          <td class="inbox-small-cells" >
                          </td>
                          <td class="inbox-small-cells"></td>
                          <td style="color:white" class="view-message  dont-show">Nom d'utilisateur</td>
                          <td style="color:white" class="view-message ">Email</td>
                          <td style="color:white" class="view-message  ">Droit d'accés</td>
                          <!--<td style="color:white" class="view-message  text-center">Le Poste</td>-->
                        </tr>
                        
                        
                        {% for user in users %}
                        {% if user.is_superuser == False and user.is_active == True %}
                        <tr class="">
                          <td><input type="checkbox" name="selection_{{ user.id }}" class="check mail-checkbox"></td>
                          <td class="inbox-small-cells"></td>
                          <td class="view-message dont-show"><img src="{% static 'img/default-profile-pic.jpg'%}" class="img-circle" width="30" style="margin-right:7px;">{{ user.username }}</td>
                          <td class="view-message">{{ user.email }}</td>
                          <td class="view-message ">
                            {% for group in user.groups.all %}
                              <span>{{ group.name }} / </span>
                            {% endfor %}
                              <span><a href="{% url 'app_principal:modif_permissions_user' user.id %}"><img src="{% static 'img/edit-pencil.png' %}" alt="modifier" style="width:13.5px;margin-left:3px;"/></a></span>
                          </td>
                          <!--<td class="view-message text-center">{{ user.poste }}</td>-->
                        </tr>                    </div>
                        {% endif %}
                        {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">
                  <div class="modal-dialog" role="document">
                    <div class="modal-content">
                      <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLongTitle">Etes-vous sure?</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                          <span aria-hidden="true">&times;</span>
                        </button>
                      </div>
                      <div class="modal-body">
                        Voulez-vous vraiment désactiver les utilisateur sélectionnés ? veuillez bien verifier ceux que vous avez selectionner avant de procéder à cette action.
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-theme04" data-dismiss="modal">Fermer</button>
                        <button type="submit" class="btn btn-theme" >Oui, je suis sure.</button>
                      </div>
                    </div>
                  </div>
                </div>

              <!--fin modal-->
              </form>
            </section>
          </div>
        </div>
      </section>
      <!-- /wrapper -->
    </section>
    
    {% endblock %}

    {% block js %}
      <script>
        function toggle(source) {
          checkboxes = document.getElementsByClassName('check');
          for(var i=0, n=checkboxes.length;i<n;i++) {
            checkboxes[i].checked = source.checked;
          }
        }
      </script>
    {% endblock %}