{% extends "base.html" %}
{% load static %}

{% block content %}

    <section id="main-content">
      <section class="wrapper">
        <!-- debut page -->
        <div class="row mt">
          <div class="col-sm-3">
            <section class="panel">
              <div class="panel-body">
                <a href="mail_compose.html" class="btn btn-compose">
                  <i class="fa fa-user-plus"></i> Ajouter un utilisateur
                  </a>
                <ul class="nav nav-pills nav-stacked mail-nav">
                  <li class="active"><a href="inbox.html"> <i class="fa fa-users"></i> Les utilisateurs  <span class="label label-theme pull-right inbox-notification">3</span></a></li>
                  
                  <li><a href="#"> <i class="fa fa-exclamation-circle"></i> Important</a></li>
                  
                  </li>
                  <li><a href="#"> <i class="fa fa-trash-o"></i> Corbeille</a></li>
                </ul>
              </div>
            </section>
            <section class="panel">
              <div class="panel-body">
                <ul class="nav nav-pills nav-stacked labels-info ">
                  <li>
                    <h4>Super utilisateurs</h4>
                  </li>
                  <li>
                    <a href="#">
                        <img src="{% static 'img/friends/fr-03.jpg'%}" class="img-circle" width="20">Laura
                        
                      </a>
                  </li>
                  <li>
                    <a href="#">
                        <img src="{% static 'img/friends/fr-03.jpg'%}" class="img-circle" width="20">David
                        
                      </a>
                  </li>
                  <li>
                    <a href="#">
                        <img src="{% static 'img/friends/fr-03.jpg'%}" class="img-circle" width="20">Mark
                        
                      </a>
                  </li>
                  <li>
                    <a href="#">
                        <img src="{% static 'img/friends/fr-03.jpg'%}" class="img-circle" width="20">Phillip
                        
                      </a>
                  </li>
                  <li>
                    <a href="#">
                        <img src="{% static 'img/friends/fr-03.jpg'%}" class="img-circle" width="20">Joshua
                        
                      </a>
                  </li>
                </ul>
                <a> + Ajouter</a>
                <form method="post">
                  {% csrf_token %}
                  {{ form.email }}
                  <input type="submit" value="Ajouter" name="submit">
                </form>
                {% if messages %}
    {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">  <!-- singular -->
            <a class="close" data-dismiss="alert"></a>
            {{ message }}
        </div>
    {% endfor %}
  {% endif %}
                <div class="inbox-body text-center inbox-action">
                  
                  <div class="btn-group">
                    <a class="btn mini btn-default" href="javascript:;">
                      <i class="fa fa-cog"></i>
                      </a>
                  </div>
                </div>
              </div>
            </section>
          </div>
          <div class="col-sm-9">
            <section class="panel">
              <header class="panel-heading wht-bg">
                <h4 class="gen-case">
                   Les utilisateurs
                    <form action="#" class="pull-right mail-src-position">
                      <div class="input-append">
                        <input type="text" class="form-control " placeholder="Recherche utilisateur">
                      </div>
                    </form>
                  </h4>
              </header>
              <div class="panel-body minimal">
                <div class="mail-option">
                  <div class="chk-all">
                    <div class="pull-left mail-checkbox">
                      <input type="checkbox" class="">
                    </div>
                    <div class="btn-group">
                      <a data-toggle="dropdown" href="#" class="btn mini all">
                        TOUT
                        
                        </a>
                      
                    </div>
                  </div>
                  <div class="btn-group">
                    <a data-original-title="Refresh" data-placement="top" data-toggle="dropdown" href="#" class="btn mini tooltips">
                      <i class=" fa fa-refresh"></i>
                      </a>
                  </div>
                  
                  <div class="btn-group">
                    <a data-toggle="dropdown" href="#" class="btn mini blue">
                      Droit D'accés
                      <i class="fa fa-angle-down "></i>
                      </a>
                    <ul class="dropdown-menu">
                      <li><a href="#"><i class="fa fa-pencil"></i>  Modification</a></li>
                      <li><a href="#"><i class="fa fa-eraser"></i> Suppression</a></li>
                      <li><a href="#"><i class="fa fa-book "></i> Lecture</a></li>
                        
                    </ul>
                  </div>
                  <div class="btn-group hidden-phone">
                    <a data-toggle="dropdown"style="background:#d9534f;color:black" href="#" class="btn mini blue">
                      Supprimer
                      
                      </a>
                    
                  </div>
                  <ul class="unstyled inbox-pagination">
                    <li><span>1-50 of 99</span></li>
                    <li>
                      <a class="np-btn" href="#"><i class="fa fa-angle-left  pagination-left"></i></a>
                    </li>
                    <li>
                      <a class="np-btn" href="#"><i class="fa fa-angle-right pagination-right"></i></a>
                    </li>
                  </ul>
                </div>
                <div class="table-inbox-wrap ">
                  <table class="table table-inbox table-hover">
                    <tbody>
                      <tr class=""style="background: #4ECDC4;color:white">
                     
                        <td class="inbox-small-cells" >
                        </td>
                        <td class="inbox-small-cells"></td>
                        <td class="view-message  dont-show"><a style="color:white" href="mail_view.html">Nom/Prenom</a></td>
                        <td class="view-message "><a  style="color:white" href="mail_view.html">Email</a></td>
                        <td class="view-message  ">Droit d'accés</td>
                        <td class="view-message  text-center">Le Poste</td>
                      </tr>
                      <tr class="unread">
                        <td class="inbox-small-cells">
                          <input type="checkbox" class="mail-checkbox">
                        </td>
                        <td class="inbox-small-cells"></td>        
                        <td class="view-message  dont-show"><img src="{% static 'img/friends/fr-03.jpg'%}" class="img-circle" width="30"><a href="mail_view.html">morad dodo</a></td>
                        <td class="view-message "><a href="mail_view.html">moraddodo@esi.com</a></td>
                        <td class="view-message  ">Modifier</td>
                        <td class="view-message  text-center">chef service </td>
                      </tr>
                      <tr class="unread">
                        <td class="inbox-small-cells">
                          <input type="checkbox" class="mail-checkbox">
                        </td>
                        <td class="inbox-small-cells"></td>
                        <td class="view-message dont-show"><img src="{% static 'img/friends/fr-03.jpg'%}" class="img-circle" width="30"><a href="mail_view.html">Mark Thompson</a></td>
                        <td class="view-message"> <a href="mail_view.html">Last project updates</a></td>
                        <td class="view-message ">Modifier</td>
                        <td class="view-message text-center">secretere</td>
                      </tr>
                      <tr class="unread">
                        <td class="inbox-small-cells">
                          <input type="checkbox" class="mail-checkbox">
                        </td>
                        <td class="inbox-small-cells"></td>
                        <td class="view-message dont-show"><img src="{% static 'img/friends/fr-03.jpg'%}" class="img-circle" width="30"><a href="mail_view.html"></a><a href="mail_view.html">Wonder Corp.</a></td>
                        <td class="view-message"><a href="mail_view.html">moraddodo@esi.com</a></td>
                        <td class="view-message ">Lire</td>
                        <td class="view-message text-center">technicien</td>
                      </tr>
                      <tr class="">
                        <td class="inbox-small-cells">
                          <input type="checkbox" class="mail-checkbox">
                        </td>
                        <td class="inbox-small-cells"></i></td>
                        <td class="view-message dont-show"><img src="{% static 'img/friends/fr-03.jpg'%}" class="img-circle" width="30"><a href="mail_view.html">Facebook</a></td>
                        <td class="view-message"><a href="mail_view.html">moraddodo@esi.com</a></td>
                        <td class="view-message ">Modifier</td>
                        <td class="view-message text-center">chef service</td>
                      </tr>
                      <tr class="">
                        <td class="inbox-small-cells">
                          <input type="checkbox" class="mail-checkbox">
                        </td>
                        <td class="inbox-small-cells"></td>
                        <td class="view-message dont-show"><img src="{% static 'img/friends/fr-03.jpg'%}" class="img-circle" width="30"><a href="mail_view.html"></a><a href="mail_view.html">Mark Webber </a></td>
                        <td class="view-message"><a href="mail_view.html">moraddodo@esi.com</a></td>
                        <td class="view-message">Modifier</td>
                        <td class="view-message text-center">chef service</td>
                      </tr>
                      <tr class="">
                        <td class="inbox-small-cells">
                          <input type="checkbox" class="mail-checkbox">
                        </td>
                        <td class="inbox-small-cells"></i></td>
                        <td class="view-message dont-show"><img src="{% static 'img/friends/fr-03.jpg'%}" class="img-circle" width="30"><a href="mail_view.html">Facebook</a></td>
                        <td class="view-message"><a href="mail_view.html">moraddodo@esi.com</a></td>
                        <td class="view-message ">Lire</td>
                        <td class="view-message text-center">chef service</td>
                      </tr>
                      <tr class="">
                        <td class="inbox-small-cells">
                          <input type="checkbox" class="mail-checkbox">
                        </td>
                        <td class="inbox-small-cells"></td>
                        <td class="view-message dont-show"><img src="{% static 'img/friends/fr-03.jpg'%}" class="img-circle" width="30">Paypal inc.</td>
                        <td class="view-message">moraddodo@esi.com</td>
                        <td class="view-message ">Modifier</td>
                        <td class="view-message text-center">chef service</td>
                      </tr>
                      <tr class="">
                        <td class="inbox-small-cells">
                          <input type="checkbox" class="mail-checkbox">
                        </td>
                        <td class="inbox-small-cells"></td>
                        <td class="view-message dont-show"><img src="{% static 'img/friends/fr-03.jpg'%}" class="img-circle" width="30">Andrea </td>
                        <td class="view-message view-message">moraddodo@esi.com</td>
                        <td class="view-message ">Lire</td>
                        <td class="view-message text-center">chef service</td>
                      </tr>
                      <tr class="">
                        <td class="inbox-small-cells">
                          <input type="checkbox" class="mail-checkbox">
                        </td>
                        <td class="inbox-small-cells"></td>
                        <td class="view-message dont-show"><img src="{% static 'img/friends/fr-03.jpg'%}" class="img-circle" width="30">David Green</td>
                        <td class="view-message view-message">moraddodo@esi.com</td>
                        <td class="view-message ">Modifier</td>
                        <td class="view-message text-center">chef service</td>
                      </tr>
                      <tr class="">
                        <td class="inbox-small-cells">
                          <input type="checkbox" class="mail-checkbox">
                        </td>
                        <td class="inbox-small-cells"></td>
                        <td class="view-message dont-show"><img src="{% static 'img/friends/fr-03.jpg'%}" class="img-circle" width="30"><a href="mail_view.html"></a>Evelyn </td>
                        <td class="view-message view-message">moraddodo@esi.com</td>
                        <td class="view-message ">Lire</td>
                        <td class="view-message text-center">chef service</td>
                      </tr>
                      <tr class="">
                        <td class="inbox-small-cells">
                          <input type="checkbox" class="mail-checkbox">
                        </td>
                        <td class="inbox-small-cells"></td>
                        <td class="view-message dont-show"><img src="{% static 'img/friends/fr-03.jpg'%}" class="img-circle" width="30">Martin Moore</td>
                        <td class="view-message">moraddodo@esi.com</td>
                        <td class="view-message ">Lire</td>
                        <td class="view-message text-center">chef service</td>
                      </tr>
                      <tr class="">
                        <td class="inbox-small-cells">
                          <input type="checkbox" class="mail-checkbox">
                        </td>
                        <td class="inbox-small-cells"></td>
                        <td class="dont-show"><img src="{% static 'img/friends/fr-02.jpg' %}" class="img-circle" width="30">Facebook</td>
                        <td class="view-message">moraddodo@esi.com</td>
                        <td class="view-message ">Modifier</i></td>
                        <td class="view-message text-center">chef service</td>
                      </tr>
                      <tr class="">
                        <td class="inbox-small-cells">
                          <input type="checkbox" class="mail-checkbox">
                        </td>
                        <td class="inbox-small-cells"></td>
                        <td class="view-message dont-show"> <img src="{% static 'img/friends/fr-01.jpg' %}" class="img-circle" width="30">Steve Stoll</td>
                        <td class="view-message">moraddodo@esi.com</td>
                        <td class="view-message ">Modifier</td>
                        <td class="view-message text-center">chef service</td>
                      </tr>
                      
                      
                    </tbody>
                  </table>
                </div>
              </div>
            </section>
          </div>
        </div>
      </section>
      <!-- /wrapper -->
    </section>
    
    {% endblock %}