<!DOCTYPE html>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body style="background-color: rgb(97, 97, 172);">
       <!-- Success Alert -->
<div class="alert alert-success alert-dismissible d-flex align-items-center fade show">
  <i class="bi-check-circle-fill"></i>
  <strong class="mx-2">Succés!</strong> Votre message a été bien envoyé.
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>

<!-- Error Alert -->
<div class="alert alert-danger alert-dismissible d-flex align-items-center fade show">
  <i class="bi-exclamation-octagon-fill"></i>
  <strong class="mx-2">Erreur!</strong> Veuillez réessayer une autre fois.
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>

<!-- Warning Alert -->
<div class="alert alert-warning alert-dismissible d-flex align-items-center fade show">
  <i class="bi-exclamation-triangle-fill"></i>
  <strong class="mx-2">Warning!</strong> Un problème avec votre connexion réseau.
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>

<!-- Info Alert -->
<div class="alert alert-info alert-dismissible d-flex align-items-center fade show">
  <i class="bi-info-circle-fill"></i>
  <strong class="mx-2">Info!</strong> Veuillez lire les commentaires attentivement.
  <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
</div>
        <h1>Ajouter d'un nouveau {{ choix }}</h1>
      
           
            <form  method="post" >
                <button type="button" class="btn-close" aria-label="Close"></button>
                {% csrf_token %}
                {{ form.as_p }}
                <div id="liveAlertPlaceholder"></div>
               
                
              <!-- Button trigger modal -->
<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
   Envoyer
  </button>
  
  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Annuler</button>
          <button type="button" class="btn btn-primary">Confirmer</button>
        </div>
      </div>
    </div>
  </div>
   
            </form>
            <nav aria-label="...">
                <ul class="pagination">
                  <li class="page-item disabled">
                    <a class="page-link">Precedent</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2</a>
                  </li>
               
                  <li class="page-item">
                    <a class="page-link" href="#"></a>
                  </li>
                </ul>
              </nav>
          
</body>



</html>