
{% extends "base.html" %} 
{% load static %}
        {% block title %}Plus d'infos sur {{ objet.nom }}{% endblock %}
  {% block content %}
<div class="wrapper">

  <h3><i class="fa fa-angle-right"></i> Plus d'infos sur {{ objet.nom }}</h3>
    <div class="row mt">
        <div class="col-lg-12">
            <div class="form-panel">
                <ul style="line-height: 2;">
                    <li><strong style="color:red;">Etat:</strong> {{objet.etat}}</li>
                    <li><strong style="color:red;"> Addresse MAC:</strong> {{ objet.mac }}</li>
                    <li><strong style="color:red;">Numero d'inventaire:</strong> {{ objet.inventaire }}</li>
                    <li><strong style="color:red;">Numero de Série:</strong> {{ objet.serie }}</li>
                    <li><strong style="color:red;">Modèle:</strong> {{ objet.modele }}</li>
                    <li><strong style="color:red;">Marque:</strong> {{ objet.marque }}</li>
                    <li><strong style="color:red;">Mot de passe:</strong> {{objet.password}}</li>
                    <li><strong style="color:red;">Date d'achat:</strong> {{objet.date_achat}}</li>
                </ul>

                <a href="{% url 'app_principal:switch' %}">Revenir en arrière</a>

              
            </div>
        </div>
    </div>
</div>
  {% endblock %}



