{% extends "base.html" %}
  

{% block title %}Profile {% endblock %}

{% block content %}
      <section class="wrapper site-min-height">
        <!-- page start-->
        <div class="chat-room mt">
          <aside class="mid-side">
            <div class="chat-room-head">
              <h3>Information-Personnlle</h3>
              <form action="#" class="pull-right position">
                <input type="text" placeholder="Search" class="form-control search-btn ">
              </form>
            </div>
            <div class="group-rom">
              <div class="first-part odd">Nom</div>
             
            </div>
            <div class="group-rom">
              <div class="first-part">Prenom</div>
              <div class="group-rom">
                <div class="first-part">Nom d'utilisateur</div>
            
            </div>
            <div class="group-rom">
              <div class="first-part odd">Email</div>
              
            </div>
            <div class="group-rom">
              <div class="first-part">Post</div>
             
            </div>
            <div class="group-rom">
              <div class="first-part odd">Mot De passe</div>
              
              
              <button class="btn btn-theme">Modifie</button>
            </footer>
          </aside>
          <aside class="right-side">
            <div class="user-head">
              <a href="#" class="chat-tools btn-theme"><i class="fa fa-cog"></i> </a>
              <a href="#" class="chat-tools btn-theme03"><i class="fa fa-key"></i> </a>
            </div>
            <div class="invite-row">
              <h4 class="pull-left">Photo</h4>
              <a href="#" class="btn btn-theme04 pull-right">+ Ajouter</a>
            </div>
           
              
              </li>
            </ul>
          </aside>
        </div>
        <!-- page end-->
      </section>
      <!-- /wrapper -->
    </section>

{% endblock %}
