<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>liste switch</title>
</head>
<body>
    <h1>Liste des switch dont ses ports sont dan le local:</h1>
    <h2>il ya {{len}} resultat de votre recherche</h2>
     {% for s in switch %}
           
            <h3>{{s.switch.nom}}<a href="{% url 'app_principal:port' s.switch.id  %}">port num:{{s.num_port}}</a><h3>  
             
         
      {% endfor %}                
</body>
</html>