<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Created by Rizowan Ahmed Safi -->
    <!-- website - www.rizowanahmedsafi.com  -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Animated Team Section</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="service2.css">
</head>
<body>
    <div class="services">
        <h1>Our Services</h1>
        <div class="content">
            <div class="card">
                <div class="box">
                    <i class="fa fa-search"></i>
                    <h3>Localiser Switch</h3>
                    <p>localiser un Switch à partir de son nom ,numéro d'inventaire ou bien son numéro de Série</p>
                    <a href="">voir plus</a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fa fa-search"></i>
                    <h3>Caractéristique d'un Switch</h3>
                    <p>Afficher les caracteristique d'un Switch donnée à partir de son nom ,numéro d'inventaire ou bien numéro de série</p>
                    <a href="">voir plus</a>
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fa fa-map"></i>
                    <h3>Mise à jour</h3>
                    <p>Ajouter ,Modifier,Supprimer un Switch Donnée  à partir de son nom ,numéro d'inventaire ou bien numéro de série </p>
                    <a href="">voir plus</a>
                </div>
            </div>
        </div>
    </div>
</body>
</html>