<!DOCTYPE html>
<html lang="en">
    {% load static %}
<head>
    <!-- Created by Rizowan Ahmed Safi -->
    <!-- website - www.rizowanahmedsafi.com  -->
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nos services</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'service2.css' %}" rel="stylesheet">
</head>
<body style="overflow-x: hidden;">
    <div class="services" style="margin-left: -68px;">
        <h1>Nos Services</h1>
        <div class="content">
            <div class="card">
                <div class="box">
                    <i class="fa fa-search"></i>
                    <h3>Gestion des Switchs </h3>
                    <p>Configuration,Recherche,Ajout,....</p>
                  
                </div>
            </div>
            <div class="card">
                <div class="box">
                    <i class="fa fa-search"></i>
                    <h3>Gestion des Vlans</h3>
                    <p>Ajout,Modification,Suppression,Recheche </p>
 
                </div>
            </div>
           
        </div>
    </div>
</body>
</html>