{% extends "base.html" %}
{% load static %}
    <!-- Custom styles for this template -->
   
    <link href="{% static 'style.css' %}" rel="stylesheet">

  {% block js %}
  <!--chartjs CDN-->
  <script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>
  <script src="{% static 'lib/chart-master/Chart.js' %}"></script>
  <script src="{% static 'lib/sparkline-chart.js' %}"></script>
  <script src="{% static 'lib/zabuto_calendar.js' %}"></script>
  <script type="text/javascript">
      
       $(document).ready(function() {
        var unique_id = $.gritter.add({
            // (string | mandatory) the heading of the notification
            title: 'Welcome to Dashio!',
            // (string | mandatory) the text inside the notification
            text: 'Hover me to enable the Close Button. You can hide the left sidebar clicking on the button next to the logo. Developed by <a href="http://alvarez.is" target="_blank" style="color:#4ECDC4">Alvarez.is</a>.',
            // (string | optional) the image to display on the left
            image: 'img/ui-sam.jpg',
            // (bool | optional) if you want it to fade out on its own or just sit there
            sticky: false,
            // (int | optional) the time you want it to be alive for before fading out
            time: 8000,
            // (string | optional) the class name you want to apply to that specific message
            class_name: 'my-sticky-class'
        });

        return false;
        });
    </script>
    <script type="application/javascript">
        $(document).ready(function() {
        $("#date-popover").popover({
            html: true,
            trigger: "manual"
        });
        $("#date-popover").hide();
        $("#date-popover").click(function(e) {
            $(this).hide();
        });

        $("#my-calendar").zabuto_calendar({
            action: function() {
            return myDateFunction(this.id, false);
            },
            action_nav: function() {
            return myNavFunction(this.id);
            },
            ajax: {
            url: "show_data.php?action=1",
            modal: true
            },
            legend: [{
                type: "text",
                label: "Special event",
                badge: "00"
            },
            {
                type: "block",
                label: "Regular event",
            }
            ]
        });
        });

        function myNavFunction(id) {
        $("#date-popover").hide();
        var nav = $("#" + id).data("navigation");
        var to = $("#" + id).data("to");
        console.log('nav ' + nav + ' to: ' + to.month + '/' + to.year);
        }
    </script>

  {% endblock %}
{% block content %}
    <!-- =======================================================
        Template Name: Dashio
        Template URL: https://templatemag.com/dashio-bootstrap-admin-template/
        Author: TemplateMag.com
        License: https://templatemag.com/license/
    ======================================================= -->
   

  
   
        
        <!-- **********************************************************************************************************************************************************
            MAIN CONTENT
            *********************************************************************************************************************************************************** -->
        <!--main content start-->
        <!-- <section id="main-content"> -->
           
            <section  style="margin-left:10px;">
        <section class="wrapper">
            <div class="row">
            <div class="col-lg-9 main-chart">
                <!--CUSTOM CHART START -->
                <div class="border-head">
                <h3>Nombre de ports dans chaque VLAN</h3>
                </div>
                <canvas id="Chars" style="width:100;height:100;"></canvas>
                    <script>
                    var ctx = document.getElementById('Chars').getContext('2d');
                    var Chars = new Chart(ctx, {
                        type: 'bar',
                        data: {
                           
                        labels:{{labels1|safe}},
                        datasets: [{
                        axis: 'y',
                        label: 'NB_PORTS',
                        data: {{data1|safe}},
                        fill: false,
                                backgroundColor: [
                                'rgba(255, 99, 132, 0.6)',
                                'rgba(255, 159, 64, 0.6)',
                                'rgba(255, 205, 86, 0.6)',
                                'rgba(75, 192, 192, 0.6)',
                                'rgba(54, 162, 235, 0.6)',
                                'rgba(153, 102, 255, 0.6)',
                                'rgba(201, 203, 207, 0.6)'
                                ],
                                borderColor: [
                                'rgb(255, 99, 132)',
                                'rgb(255, 159, 64)',
                                'rgb(255, 205, 86)',
                                'rgb(75, 192, 192)',
                                'rgb(54, 162, 235)',
                                'rgb(153, 102, 255)',
                                'rgb(201, 203, 207)'
                                ],
                                borderWidth: 1
                            }]
                        },
                        options: {
                                             
                            scales: {
                                y: {
                                    beginAtZero: true
                                }
                                
                            }
                        }
                    });
                    </script>
                <!--custom chart end-->
                <div class="row mt">
                <!-- SERVER STATUS PANELS -->
                <div class="col-md-4 col-sm-4 mb">
                    <div class="green-panel pn" >
                    <div class="green-header">
                        <h5>ETATS SWITCHS</h5>
                    </div>
                    <canvas id="char" width="120" height="120" ></canvas>
                    <script>
                    var ctx = document.getElementById('char').getContext('2d');
                    var char = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: [
                            'Etat Passif',
                            'Etat Actif',
                            'Etat Reformé'
                        ],
                        datasets: [{
                            label: 'My First Dataset',
                            data: {{data4|safe}},
                            backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 205, 86)'
                            ],
                            hoverOffset: 4
                                        }]
                                    },
                                    options:{
                                    responsive: true,
                                    }
                                    
                                });
                </script>
                        
                    </div>
                    <!-- /grey-panel -->
                 </div>
               
                <!-- /col-md-4-->
                <div class="col-md-4 col-sm-4 mb">
                    <div class="grey-panel pn">
                    <div class="grey-header">
                        <h5 >ETATS PORTS</h5>
                    </div>
                    <canvas id="charts" width="120" height="120" ></canvas>
                    <script>
                    var ctx = document.getElementById('charts').getContext('2d');
                    var charts = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: [
                            'Defectueux',
                            'Utilisé',
                            'Non utilisé'
                        ],
                        datasets: [{
                            label: 'My First Dataset',
                            data: {{data2|safe}},
                            backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 205, 86)'
                            ],
                            hoverOffset: 4
                                        }]
                                    },
                                    options:{
                                    responsive: true,
                                    }
                                    
                                });
                </script>
                    
                    
                    </div>
                    <!--  /darkblue panel -->
                </div>
                <!-- /col-md-4 -->
               
                <div class="col-md-4 col-sm-4 mb">
                    <div class="blue-panel pn">
                        <div class="blue-header">
                            <h5 class="centered" >TYPES PORTS</h5>
                        </div>
                    
                    <canvas id="chart" width="120" height="120"></canvas>
                    <script>
                    var ctx = document.getElementById('chart').getContext('2d');
                    var chart = new Chart(ctx, {
                        type: 'doughnut',
                        data: {
                            labels: [
                            'Type FE',
                            'Type GE',
                            'Type SFP'
                        ],
                        datasets: [{
                            label: 'My First Dataset',
                            data: {{data3|safe}},
                            backgroundColor: [
                            'rgb(255, 99, 132)',
                            'rgb(54, 162, 235)',
                            'rgb(255, 205, 86)'
                            ],
                            hoverOffset: 4
                                        }]
                                    },
                                    options:{
                                    responsive: true,
                                    }
                                    
                                });
                </script>
                    
                    </div>
                </div>
               
                
                
                </div>
                
                
                
                
             
                <!-- /row -->
            </div>
            <!-- /col-lg-9 END SECTION MIDDLE -->
            <!-- **********************************************************************************************************************************************************
                RIGHT SIDEBAR CONTENT
                *********************************************************************************************************************************************************** -->
            <div class="col-lg-3 ds" >
                <div class="border-head">
                    <h3>Nombre de Switch dans chaque Bloc</h3>
                    </div>
                <div>
                 <!--COMPLETED ACTIONS DONUTS CHART-->
                  <canvas id="myChart" width="100" height="100"></canvas>
                    <script>
                    var ctx = document.getElementById('myChart').getContext('2d');
                    var myChart = new Chart(ctx, {
                        type: 'pie',
                        data: {
                           
                        labels: {{labels5|safe}},
                     datasets: [{
                     label: 'My First Dataset',
                     data: {{data5|safe}},
                     backgroundColor: [
                     'rgb(255, 99, 132)',
                     'rgb(54, 162, 235)',
                     'rgb(255, 205, 86)',
                     'rgba(75, 192, 192)',
                     'rgba(157, 152, 245)',
                     'rgba(153, 102, 255)',
                     'rgba(201, 203, 207)'
                     ],
                     hoverOffset: 4
                            }]
                        },
                        
                    });
                    </script>
                    </div>
                
                 <!-- RECENT ACTIVITIES SECTION -->
               
                <h4 class="centered mt">Activité Résente</h4>
                <!-- First Activity -->
                <div class="desc">
                <div class="thumb">
                    <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                </div>
                <div class="details">
                    <p>
                    <span>Juste maintenant</span>
                    <br/>
                    <a href="#">Paul Rudd</a> a ajouter un switch <br/>
                    </p>
                </div>
                </div>
                <!-- Second Activity -->
                <div class="desc">
                <div class="thumb">
                    <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                </div>
                <div class="details">
                    <p>
                    <span>Il y a 2 Minutes </span>
                    <br/>
                    <a href="#">James Brown</a> a réformer un switch<br/>
                    </p>
                </div>
                </div>
                <!-- Third Activity -->
                <div class="desc">
                <div class="thumb">
                    <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                </div>
                <div class="details">
                    <p>
                    <span>Il y a 3 heurs</span>
                    <br/>
                    <a href="#">Diana Kennedy</a> a modifier un switch <br/>
                    </p>
                </div>
                </div>
                <!-- Fourth Activity -->
                <div class="desc">
                <div class="thumb">
                    <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                </div>
                <div class="details">
                    <p>
                    <span>Il y a 7 heurs</span>
                    <br/>
                    <a href="#">Brando Page</a> a cofigurer un switch<br/>
                    </p>
                </div>
                </div>
               <!-- Fifth Activity -->
               <div class="desc">
                <div class="thumb">
                    <span class="badge bg-theme"><i class="fa fa-clock-o"></i></span>
                </div>
                <div class="details">
                    <p>
                    <span>Il y a 8 heurs</span>
                    <br/>
                    <a href="#">karim ali</a> a ajouter un nouveau VLAN <br/>
                    </p>
                </div>
                </div>
                
                
            </div>
            <!-- /col-lg-3 -->
            </div>
            <!-- /row -->
        </section>
        </section>
    </section>
    
        
        
       
    

    
 
    {% endblock %}