
<!DOCTYPE html>
<html lang="fr">
<head>
  {% load static %}
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Switchs</title>  
     <link rel="stylesheet" type="text/css" href="{% static 'nav.css' %}">
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>  
     <!--<script src="{% static 'nav.js' %}"></script> -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" >  
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>  

<body>  
           <br /><br />  
           <div class="container" style="width:80%;">  
                <h2>Table de Switchs</h2>  
                                 
                <br /><br />  
                <div class="col-xs-4" >  
                     <input type="text" name="search" id="search" class="form-control " />  
                </div>  
                <br /><br />  
                     <table class="table table-bordered " style="margin: auto;" id="employee_table">  
                          <tr>  
                              
                            <th style="width:calc(100%/10)">Nom du Switch</th>
                            <!--<th width="100%">Marque</th>-->
                            <th style="width:calc(100%/10)">Modèle</th>
                            <th style="width:calc(100%/10)">Bloc</th>
                            <th style="width:calc(100%/10)">Num_D'armoires</th>
                            <th style="width:calc(100%/10)">Local</th>
                            <th style="width:calc(100%/10)">Num_D'inventaire</th>
                            <th style="width:calc(100%/10)">Num_Série</th>
                            <th style="width:calc(100%/10)">Adr_MAC</th>
                            <th style="width:calc(100%/10)">Nombre de ports</th>
                            <!--<th style="width:calc(100%/10)">NB_ports_FE</th>
                            <th style="width:calc(100%/10)">NB_ports_GE</th>
                            <th style="width:calc(100%/10)">NB_ports_SFP</th>-->
                            <th style="width:calc(100%/10)">Cascade depuis</th>
                            <!--<th style="width:calc(100%/10)">Date_D'achat</th>-->

                          </tr>  
                          {% for s in switchs %}
                          <tr>  
                              <td><input type="checkbox" name="" id="supp" class="">{{ s.nom }}</td>  
                              <!--<td>{{ s.marque }}</td>  -->
                              <td>{{ s.modele }}</td>  
                              <td>{{ s.bloc }}</td>  
                              <td>{{ s.armoire }}</td>  
                              <td>{{ s.local }}</td>  
                              <td>{{ s.inventaire }}</td>  
                              <td>{{ s.serie }}</td>  
                              <td>{{ s.mac }}</td>  
                              <td>{{ s.nbr_port }}</td>  
                              <!--<td>{{ s.nbr_port_FE }}</td>  
                              <td>{{ s.nbr_port_GE }}</td>  
                              <td>{{ s.nbr_port_SFP }}</td>  -->
                              <td>{{ s.preced }}</td>  
                              <!--<td>{{ s.date_achat }}</td>  -->
                         </tr>  
                         {% endfor %}
                         
                    </table> 
            </div>  
      </body>  

 <script>  
      $(document).ready(function(){  
           $('#search').keyup(function(){  
                search_table($(this).val());  
           });  
           function search_table(value){  
                $('#employee_table tr').each(function(){  
                     var found = 'false';  
                     $(this).each(function(){  
                          if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)  
                          {  
                               found = 'true';  
                          }  
                     });  
                     if(found == 'true')  
                     {  
                          $(this).show();  
                     }  
                     else  
                     {  
                          $(this).hide();  
                     }  
                });  
           }  
      });  
      
 </script>  
 </html>  
