
<!DOCTYPE html>
<html lang="fr">
<head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Switchs</title>  
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>  
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
           <style>
            table {
              border-collapse: collapse;
              width: 100%;
            }
            
            th, td {
              text-align: left;
              padding: 15px;
            }
            
            tr:nth-child(even){background-color: #f2f2f2}
            
            th {
              background-color:#18193e;
              color: white;
            }
            </style>
      </head>  
      <body>  
           <br /><br />  
           <div class="container" style="width:1300px;">  
                <h2>Table de Switchs</h2>  
                                 
                <br /><br />  
                <div >  
                     <input type="text" name="search" id="search" class="form-control" />  
                </div>  
                <br /><br />  
                <div class="table-responsive" >  
                     <table class="table table-bordered" id="employee_table">  
                          <tr>  
                               
                            <th width="100%">Nom du Switch</th>
                            <th width="100%">Marque</th>
                            <th width="100%">Modèle</th>
                            <th width="100%">Bloc</th>
                            <th width="100%">Num_D'armoires</th>
                            <th width="100%">Local</th>
                            <th width="100%">Num_D'inventaire</th>
                            <th width="100%">Num_Série</th>
                            <th width="100%">Adr_MAC</th>
                            <th width="100%">NB_ports</th>
                            <th width="100%">NB_ports_FE</th>
                            <th width="100%">NB_ports_GE</th>
                            <th width="100%">NB_ports_SFP</th>
                            <th width="100%">Précédent</th>
                            <th width="100%">Date_D'achat</th>

                          </tr>  
                          {% for s in switchs %}
                          <tr>  
                              <td>{{ s.nom }}</td>  
                              <td>{{ s.marque }}</td>  
                              <td>{{ s.modele }}</td>  
                              <td>{{ s.bloc }}</td>  
                              <td>{{ s.armoire }}</td>  
                              <td>{{ s.local }}</td>  
                              <td>{{ s.inventaire }}</td>  
                              <td>{{ s.serie }}</td>  
                              <td>{{ s.mac }}</td>  
                              <td>{{ s.nbr_port }}</td>  
                              <td>{{ s.nbr_port_FE }}</td>  
                              <td>{{ s.nbr_port_GE }}</td>  
                              <td>{{ s.nbr_port_SFP }}</td>  
                              <td>{{ s.preced }}</td>  
                              <td>{{ s.date_achat }}</td>  
                         </tr>  
                         {% endfor %}
                         
                    </table>  
                </div>  
           </div>  
      </body>  

 <script>  
      $(document).ready(function(){  
           $('#search').keyup(function(){  
                search_table($(this).val());  
           });  
           function search_table(value){  
                $('#employee_table tr').each(function(){  
                     var found = 'false';  
                     $(this).each(function(){  
                          if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)  
                          {  
                               found = 'true';  
                          }  
                     });  
                     if(found == 'true')  
                     {  
                          $(this).show();  
                     }  
                     else  
                     {  
                          $(this).hide();  
                     }  
                });  
           }  
      });  
 </script>  
 <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
 </html>  
