



 <!DOCTYPE html>  
 <html>  
      <head>  
           <title>Webslesson Tutorial | Search HTML Table Data by using JQuery</title>  
           <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>  
           <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />  
           <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>  
           <style>
            table {
              border-collapse: collapse;
              width: 100%;
            }
            
            th, td {
              text-align: left;
              padding: 15px;
            }
            
            tr:nth-child(even){background-color: #f2f2f2}
            
            th {
              background-color:#18193e;
              color: white;
            }
            </style>
      </head>  
      <body>  
           <br /><br />  
           <div class="container" style="width:1300px;">  
                <h2 align  ="center">Table de Switchs</h2>  
                                 
                <br /><br />  
                <div align="center">  
                     <input type="text" name="search" id="search" class="form-control" />  
                </div>  
                <br /><br />  
                <div class="table-responsive" >  
                     <table class="table table-bordered" id="employee_table">  
                          <tr>  
                               
                            <th width="100%">Nom du Switch</th>
                            <th width="100%">Marque</th>
                            <th width="100%">Modèle</th>
                            <th width="100%">Bloc</th>
                            <th width="100%">Num_D'armoires</th>
                            <th width="100%">Local</th>
                            <th width="100%">Num_D'inventaire</th>
                            <th width="100%">Num_Série</th>
                            <th width="100%">Adr_MAC</th>
                            <th width="100%">NB_ports</th>
                            <th width="100%">NB_ports_FE</th>
                            <th width="100%">NB_ports_GE</th>
                            <th width="100%">NB_ports_SFP</th>
                            <th width="100%">Précédent</th>
                            <th width="100%">VLAN_Associé</th>
                            <th width="100%">Date_D'achat</th>

                          </tr>  
                                                   <tr>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                               <td>Top executive</td>  
                               <td>32</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                               <td>Top executive</td>  
                               <td>32</td> 
                               <td>Top executive</td> 
                               <td>Top executive</td> 
                               <td>Top executive</td> 
                               <td>Top executive</td>  
                          </tr>  
                                                   <tr>  
                               <td>174</td>  
                               <td>Martha B. Tomlinson</td>  
                               <td>4005 Bird Spring Lane, Houston, TX 77002</td>  
                               <td>Female</td>  
                               <td>Systems programmer</td>  
                               <td>38</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                               <td>Top executive</td>  
                               <td>32</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                          </tr>  
                                                   <tr>  
                               <td>173</td>  
                               <td>Cameron K. Barnett</td>  
                               <td>2822 River Road, Colorado Springs, CO 80903</td>  
                               <td>Male</td>  
                               <td>Mortgage loan officer</td>  
                               <td>52</td> 
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                               <td>Top executive</td>  
                               <td>32</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>   
                          </tr>  
                                                   <tr>  
                               <td>172</td>  
                               <td>James V. Foreman</td>  
                               <td>4881 Adams Drive, Houston, TX 77002</td>  
                               <td>Male</td>  
                               <td>Sports instructor</td>  
                               <td>32</td> 
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                               <td>Top executive</td>  
                               <td>32</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>   
                          </tr>  
                                                   <tr>  
                               <td>171</td>  
                               <td>Dallas V. Jones</td>  
                               <td>2672 Broaddus Avenue, Bowling Green, KY 42103</td>  
                               <td>Male</td>  
                               <td>Tractor driver</td>  
                               <td>45</td> 
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                               <td>Top executive</td>  
                               <td>32</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>   
                          </tr>  
                                                   <tr>  
                               <td>170</td>  
                               <td>Patricia R. Lohman</td>  
                               <td>2653 Courtright Street, Garrison, ND 58540</td>  
                               <td>Female</td>  
                               <td>Counseling psychologist</td>  
                               <td>24</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                               <td>Top executive</td>  
                               <td>32</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                          </tr>  
                                                   <tr>  
                               <td>169</td>  
                               <td>Lee H. Young</td>  
                               <td>4097 Cambridge Place, Cockeysville, MD 21030</td>  
                               <td>Male</td>  
                               <td>Refractory mason</td>  
                               <td>24</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                               <td>Top executive</td>  
                               <td>32</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                          </tr>  
                                                   <tr>  
                               <td>168</td>  
                               <td>Melina T. Reza</td>  
                               <td>68 Elk Creek Road, Chamblee, GA 30341</td>  
                               <td>Female</td>  
                               <td>Manpower development manager</td>  
                               <td>40</td> 
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                               <td>Top executive</td>  
                               <td>32</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>   
                          </tr>  
                                                   <tr>  
                               <td>167</td>  
                               <td>Sandra P. Swain</td>  
                               <td>3563 Wolf Pen Road, San Jose, CA 95134</td>  
                               <td>Female</td>  
                               <td>Mortgage banker</td>  
                               <td>32</td> 
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                               <td>Top executive</td>  
                               <td>32</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>   
                          </tr>  
                                                   <tr>  
                               <td>166</td>  
                               <td>Thomas K. Herrman</td>  
                               <td>4342 Despard Street, Atlanta, GA 30331</td>  
                               <td>Male</td>  
                               <td>Scientific photographer</td>  
                               <td>47</td> 
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                               <td>Top executive</td>  
                               <td>32</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>   
                          </tr>  
                                                   <tr>  
                               <td>165</td>  
                               <td>Nick M. Gilligan</td>  
                               <td>4951 North Bend River Road, Lexington, KY 40505</td>  
                               <td>Male</td>  
                               <td>Supply manager</td>  
                               <td>42</td> 
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                               <td>Top executive</td>  
                               <td>32</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>   
                          </tr>  
                                                   <tr>  
                               <td>164</td>  
                               <td>Ronald S. Keefe</td>  
                               <td>4388 Goff Avenue, Grand Rapids, MI 49508</td>  
                               <td>Male</td>  
                               <td>Landscaping worker</td>  
                               <td>22</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                               <td>Top executive</td>  
                               <td>32</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                          </tr>  
                                                   <tr>  
                               <td>163</td>  
                               <td>William C. Wright</td>  
                               <td>2653 Pyramid Valley Road, Cedar Rapids, IA 52404</td>  
                               <td>Male</td>  
                               <td>Political geographer</td>  
                               <td>33</td> 
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                               <td>Top executive</td>  
                               <td>32</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>   
                          </tr>  
                                                   <tr>  
                               <td>162</td>  
                               <td>Jarrod D. Jones</td>  
                               <td>3827 Bingamon Road, Garfield Heights, OH 44125</td>  
                               <td>Male</td>  
                               <td>Manpower development advisor</td>  
                               <td>64</td> 
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                               <td>Top executive</td>  
                               <td>32</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>   
                          </tr>  
                                                   <tr>  
                               <td>161</td>  
                               <td>Glenda J. Stewart</td>  
                               <td>3482 Pursglove Court, Rossburg, OH 45362</td>  
                               <td>Female</td>  
                               <td>Cost consultant</td>  
                               <td>28</td> 
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                               <td>Top executive</td>  
                               <td>32</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                          </tr>  
                                                   <tr>  
                               <td>8</td>  
                               <td>Charles D. Horst</td>  
                               <td>1636 Walnut Hill Drive  Cincinnati, OH 45202</td>  
                               <td>Male</td>  
                               <td>Financial investigator</td>  
                               <td>29</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                               <td>Top executive</td>  
                               <td>32</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                          </tr>  
                          <tr>  
                               <td>7</td>  
                               <td>Antonio J. Forbes</td>  
                               <td>403 Snyder Avenue   Charlotte, NC 28208</td>  
                               <td>Male</td>  
                               <td>Faller</td>  
                               <td>32</td> 
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                               <td>Top executive</td>  
                               <td>32</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>   
                          </tr>  
                                                   <tr>  
                               <td>6</td>  
                               <td>Barbra K. Hurley</td>  
                               <td>1241 Canis Heights Drive  
 Los Angeles, CA 90017</td>  
                               <td>Female</td>  
                               <td>Service technician</td>  
                               <td>26</td> 
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                               <td>Top executive</td>  
                               <td>32</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>   
                          </tr>  
                                                   <tr>  
                               <td>5</td>  
                               <td>Clara Gilliam</td>  
                               <td>63 Woodridge Lane  
 Memphis, TN 38138</td>  
                               <td>Female</td>  
                               <td>Programmer</td>  
                               <td>24</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                               <td>Top executive</td>  
                               <td>32</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                          </tr>  
                                                   <tr>  
                               <td>1</td>  
                               <td>Bruce Tom</td>  
                               <td>656 Edsel Road  Sherman Oaks, CA 91403</td>  
                               <td>Male</td>  
                               <td>Driver</td>  
                               <td>36</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                               <td>Top executive</td>  
                               <td>32</td>  
                               <td>175</td>  
                               <td>Ronald D. Colella</td>  
                               <td>1571 Bingamon Branch Road, Barrington, IL 60010</td>  
                               <td>Male</td>  
                          </tr>  
                                              </table>  
                </div>  
           </div>  
      </body>  
 </html>  
 <script>  
      $(document).ready(function(){  
           $('#search').keyup(function(){  
                search_table($(this).val());  
           });  
           function search_table(value){  
                $('#employee_table tr').each(function(){  
                     var found = 'false';  
                     $(this).each(function(){  
                          if($(this).text().toLowerCase().indexOf(value.toLowerCase()) >= 0)  
                          {  
                               found = 'true';  
                          }  
                     });  
                     if(found == 'true')  
                     {  
                          $(this).show();  
                     }  
                     else  
                     {  
                          $(this).hide();  
                     }  
                });  
           }  
      });  
 </script>  

