/* 
Created by Rizowan Ahmed Safi
website - www.rizowanahmedsafi.com 
*/
@import url('https://fonts.google.com/specimen/Arvo');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   background-image: url('https://media.istockphoto.com/photos/group-of-business-people-meeting-discussing-analyzing-graphs-data-picture-id1295309857?b=1&k=20&m=1295309857&s=170667a&w=0&h=kunm63HuraTjURiUBpkfk6mXfQPT6RLcqdBcLVCkCbI=');
  
   background-size: cover;
   z-index: 1;
    font-family: 'Poppins', sans-serif;
}
body::after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 815px;
    width: 100%;
    background-color: #048A81;
    opacity: 0.3;
    z-index: -1;
}
.services{
    width: 1300px;
    padding: 100px 60px;
    margin: auto;
}
.services h1{
    font-size: 40px;
    text-align: center;
    font-weight: 600;
    position: relative;
    margin-bottom: 60px;
    padding-bottom: 15px;
}
.services h1::after{
    content: '';
    position: absolute;
    width: 170px;
    height: 3px;
    background-color:#048A81;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}
.content{
    display: flex;
    justify-content: space-between;
    
}
.card{
    width: calc(50% - 20px);
    background-color: #fff;
    color:#048A81;
    padding: 40px 20px;
    text-align: center;
    margin: 0 50px;
    cursor: pointer;
    border-radius: 9px;
    position: relative;
}
.box i{
    font-size: 40px;
    border-radius: 50%;
    border: 1px solid #048A81(0, 0, 0, 0.5);
    padding: 15px;
    transition: all 0.7s ease;
}
.box h3{
    font-size: 25px;
}
.box p{
    margin: 15px 0;
}
.box a{
    text-decoration: none;
    color: #048A81;
    font-weight: 500;
    font-size: 16px;
    transition: all 0.3s ease;
}
.box a:hover{
    color: #048A81;
}
.card:hover .box i{
    background-color: #048A81 (255, 187, 0);
    color: #fff;
    border-color:#048A81 (255, 187, 0);
}
.card::after{
    content: '';
    position: absolute;
    height: 100%;
    width: 100%;
    background-color:rgba(0, 0, 0, 0.39);
    top: 0;
    left: 0;
    z-index: -1;
    transform: rotate(15deg);
    transition: all 0.5s ease;
}
.card:hover::after{
    transform: rotate(-15deg);
    background-color:#048A81(255, 187, 0);
}